* {
	padding:0;
	margin:0;
}

body {
	color: #000000;
	background-color:#E8E4CD;
	font-family:Verdana,Tahoma,Arial,sans-serif;
	font-weight: normal;
	font-size: 76%;
	margin:20px auto;
        padding-left:10px;
        padding-right:10px;
}

img {
     padding-top:10px; 	
     padding-left:10px;   
    }	

h1 {font-size: 180%;  margin:0.75em 0;}

h2 {font-size: 160%;  margin:0.75em 0;}

h3 {font-size: 140%;  margin:0.75em 0;}

h4 {font-size: 120%;  margin:0.75em 0;}

li {margin-left:2em;
	margin:0.75em 0;
}

p {
	font-weight: normal; margin:0.75em 0;
  }

a {
        color: #72A372;
        background-color: #E8E4CD;
        font-weight: normal;
        text-decoration: underline;
	outline:none;
}

a:hover {
        color: #009900;
        background-color: #E8E4CD;
        font-weight: normal;
        text-decoration: underline;
}

#contact {
        padding:5px 10px 0px 0px;
        float:right;
}

#contact a {
        color: #FFFFFF;
	   background-color:#E8E4CD;
        font-weight: normal;
        text-decoration:none;
}

#contact a:hover {
        color: #FFFFFF;
	background-color:#72A372;
        text-decoration:underline;
}

#title {
	color:#FFFFFF;
	background-color:#D8CD96;

        font-weight:normal;
	margin:0px 0px 0px 0px;
    float:left;
}

#slogan {
	color:#FFFFFF;
	background-color:#D8CD96;
	font-style:normal;
	padding: 20px 50px 00px 20px;
	float: right;
	margin: 0px 0px 0px 0px;
}

#path {
        width:530px;
        clear:both;
        float:left;

        font-weight:normal;
        margin:0px 0px 25px 0px;
}

#path a {
        font-weight:normal;
}

#header {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	color:#CFE6CF;
	background-color:#D8CD96;
	height:80px;
	width:100%;
}

#content {	     width:100%;
          }

#sidecontent {
	clear:both;
	font-family:Arial, sans-serif;
	color:#000000;
	background-color:#D8CD96;
	padding:0px 0px 10px 5px;
	margin:0px 0px 10px 0px;
	width: 15%;
	float:left;
}

#sidecontent a {
	color:#72A372;
	background-color: #D8CD96;
}

#sidecontent a:hover {
	color:#00CC00;
	background-color:#D8CD96;
}

#sidecontent h2 { margin:1.5em 0.5em 0.5em 0.5em;}

#sidecontent ul { margin:0.5em 0.5em 0.5em 1.5em;}

ul#nav {
	clear:both;
	float:left;
	color: #000000;
	background: #D8CD96;
	padding:0px 0px 20px 0px;
	margin:0px 0px 20px 0px;
	list-style: none;
	width:200px;
	border-bottom:1px solid;
}

ul#nav li {
	padding:2px 0px 2px 0px;
	margin:0.75em 0;
	float: left;
	width:200px;
	background: #D8CD96;
}

ul#nav li a {
	border:1px solid #D8CD96;
	display: block;

	font-size: small;
	font-weight: normal;
	text-decoration: none;
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 0px;
	background: #D8CD96;
}

ul#nav li a:hover {
	background: #FFFFFF;
	color: #009900;
	width:178px;
	border:1px solid #72A372;
}

#maincontent {

	padding:0px 0px 5px 0px;
	margin:5px 10px 10px 20px;
	width: 80%;
	float:left;
}


#footer {
	color:#000000;

	padding-top: 60px;
	font-size:80%;
	line-height:1.5em;
	clear:both;
}

#footer a {
        color:#009900;

        text-decoration: none;
}

#footer a:hover {
        color:#60BF60;
        background-color:#E8E4CD;
        font-weight: normal;
        text-decoration: underline;
}

#copyright {
	color:#000000;
	background-color:#E8E4CD ;
	padding:5px 20px 5px 10px;
	float:left;
}

#footercontact {
	color:#60BF60;
	background-color:#E8E4CD;
	padding:5px 10px 5px 0px;
	float:right;
}

/* tables */

table {
  width: 100%;
  color:#333;
  background-color: #fff;
  clear:both;
  padding: 0;
  margin: 0 0 2em 0;
  white-space: normal;
}


table#results  {
  width: 80%;
  color:#333;
  background-color: #fff;
  clear:both;
  padding: 0;
  margin: 0 0 2em 0;
  white-space: normal;
}


th {
  background-color: #D8CD96;
  border-top: 1px solid #D8CD96;
  border-left: 1px solid #D8CD96;
  border-right: 1px solid #D8CD96;
  border-bottom: 1px solid #D8CD96;
  text-align: left;
  padding:1px;
}

table tr th a
{background-color: #D8CD96;
}

table tr td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding:4px 4px;
  vertical-align:top;
  text-align: left;
}

table tr a
{
background: #FFFFFF;
}

table tr.altRow td {
  background: #f4f4f4;
}

table tr.altRow a
{
background: #f4f4f4;
}

table tr.altRow a:hover
{
background: #E8E4CD;
}

