* {
	padding:0;
	margin:0;
}

body {
	color: #000000;
	font-family:Verdana,Tahoma,Arial,sans-serif;
	font-weight: normal;
	font-size: 76%;
	margin:20px auto;
	padding-left:10px;
	padding-right:10px;
}

img {
     padding-top:10px; 	
     padding-left:10px;   
}	

h1 {
	font-size: 180%;  
	margin:0.75em 0;
}

h2 {
	font-size: 160%;  
	margin:0.75em 0;
}

h3 {
	font-size: 140%;  
	margin:0.75em 0;
}

h4 {
	font-size: 120%;  
	margin:0.75em 0;
}

li {margin-left:2em;
	margin:0.75em 0;
}

p {
	font-weight: normal; 
	margin:0.75em 0;
}

a {
	color: #72A372;
	font-weight: normal;
	text-decoration: underline;

}

a:hover {
	color: #009900;
	background-color: #E8E4CD;
	font-weight: normal;
	text-decoration: underline;
}

#contact {
	padding:5px 10px 0px 0px;
	float:right;
}

#contact a {
	color: #FFFFFF;
	font-weight: normal;
	text-decoration:none;
}

#contact a:hover {
	color: #FFFFFF;
	background-color:#72A372;
	text-decoration:underline;
}

#title {
	padding:0px 0px 0px 0px;
	font-weight:normal;
	margin: -10px 10px 10px 0px;
    float:left;
}

#title a {
	color: #FFFFFF;
	font-weight: normal;
}

#slogan {
	color:#FFFFFF;
	font-style:normal;
	padding: 20px 50px 00px 20px;
	float: right;
	margin: -10px -10px 0px 0px;
}

#path {
	width:530px;
	clear:both;
	float:left;
	font-weight:normal;
	margin:0px 0px 25px 0px;
}

#path a {
	font-weight:normal;
}

#header {
	padding:9px 0px 0px 0px;
	margin:0px 0px 0px 210px;
	background-image:url(../img/BHL_bg.jpg);
	height:65px;
	width:86%;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-border-radius:5px;	
}
/*
#header_links {
	padding:28px 0px 0px 0px;
	margin:-9px 0px 0px 0px;
	background-image:url(../img/BHL_bg_links_r.jpg);
	height:auto;
	width:1%;
}
*/

#content {	     
	width:100%;
}

#sidecontent {
	clear:both;
	padding:0px 0px 10px 5px;
	margin:0px 0px 10px 0px;
	width: 15%;
	float:left;
}

#sidecontent a {
	color:#72A372;
}

#sidecontent a:hover {
	color:#00CC00;
}

#sidecontent h2 { 
	margin:1.5em 0.5em 0.5em 0.5em;
}

#table_top {
	width: 204px;
	height: 27px;
	background-image:url(../img/table_top.jpg);
	background-repeat:no-repeat;
}

#table_content {
	width: 204px;
	margin:-20px 0px 10px 0px;
	background-image:url(../img/table_content.jpg);
	background-repeat:repeat-y;
}

#table_text {
	margin-left:15px;
	margin-right:15px;

	margin: -5px 0px 10px 40px;
	text-align:justify;
}

#table_text_left {
	margin-left:15px;
	margin-right:15px;
	margin: 20px 0px 10px 10px;
	text-align:justify;
}

#table_bottom {
	width: 204px; 
	height: 23px;
	margin:-10px 0px 10px 0px;
	background-image:url(../img/table_bottom.jpg);
	background-repeat:no-repeat;
}

#maincontent {
	padding:0px 0px 5px 0px;
	margin:5px 10px 10px 30px;
	width: 80%;
	/* background-image:url(../img/fish-total_back.png); */
	float:left;
}

#footer {
	color:#000000;
	padding-top: 60px;
	font-size:80%;
	line-height:1.5em;
	clear:both;
}

#footer a {
	color:#009900;
	text-decoration: none;
}

#footer a:hover {
	color:#60BF60;
	background-color:#E8E4CD;
	font-weight: normal;
	text-decoration: underline;
}

#copyright {
	color:#000000;
	padding:5px 20px 5px 10px;
	float:left;
}

#footercontact {
	color:#60BF60;
	padding:5px 10px 5px 0px;
	float:right;
}

#footercontact a {
	text-decoration: underline;
}

/* tables */

table {
  width: 100%;
  color:#333;
  background-color: #fff;
  clear:both;
  padding: 0;
  margin: 0 0 2em 0;
  white-space: normal;
}

table#results  {
  width: 80%;
  color:#333;
  background-color: #fff;
  clear:both;
  padding: 0;
  margin: 0 0 2em 0;
  white-space: normal;
}

th {
	background-color: #D8CD96;
	border-top: 1px solid #D8CD96;
	border-left: 1px solid #D8CD96;
	border-right: 1px solid #D8CD96;
	border-bottom: 1px solid #D8CD96;
	text-align: left;
	padding:1px;
}

table tr th a {
	background-color: #D8CD96;
}

table tr td {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding:4px 4px;
	vertical-align:top;
	text-align: left;
}

table tr a {
	background: #FFFFFF;
}

table tr.altRow td {
	background: #f4f4f4;
}

table tr.altRow a {
	background: #f4f4f4;
}

table tr.altRow a:hover {
	background: #E8E4CD;
}

div.error_message {
	font-size: small;
	font-weight: normal;
	text-decoration: none;
	color: #FF3333;
}

div.getridofthishtml {
	display:none;
} 

small.standoutlabel {
	font-size: small;
	font-weight: bold;
	text-decoration: none;
	color: #66CC33;
}

small.standoutcontent {
	font-size: small;
	font-weight: bold;
	text-decoration: none;
	color: #FF3333;
}

small.resetdup {
	font-size: small;	
	text-decoration: none;
	color: #E8E4CD;
}