* {
	padding:0;
	margin:0;
}

body {
	color: black;
	background-color:white;
	font-family:Arial;
	margin:0px;
        padding-left:0px;
        padding-right:0px;
}

img {
     display:none; 	
    }	

h1 {font-size: 180%;  margin:0.75em 0;}

h2 {font-size: 160%;  margin:0.75em 0;}

h3 {font-size: 140%;  margin:0.75em 0;}

h4 {font-size: 120%;  margin:0.75em 0;}

li {margin-left:2em;
	margin:0.75em 0;
}

p {
	font-weight: normal; margin:0.75em 0;
  }
  
  

  

a {
        display:none;
}

#header {
	display:none;
}


#content {	     width:100%;
          }

#sidecontent {
             display:none;
            }


#maincontent {

	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}


#footer {
             display:none;
         }


/* tables */

table {
  width: 100%;
  color:black;
  background-color: white;
  clear:both;
  padding: 0;
  margin: 0 0 2em 0;
  white-space: normal;
}


table#results  {
  width: 80%;
  color:black;
  background-color: white;
  clear:both;
  padding: 0;
  margin: 0 0 2em 0;
  white-space: normal;
}


th {
  background-color: #D8CD96;
  border-top: 1px solid #D8CD96;
  border-left: 1px solid #D8CD96;
  border-right: 1px solid #D8CD96;
  border-bottom: 1px solid #D8CD96;
  text-align: left;
  padding:1px;
}

table tr th a
{background-color: #D8CD96;
}

table tr td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding:4px 4px;
  vertical-align:top;
  text-align: left;
}

table tr a
{
background: #FFFFFF;
}

table tr.altRow td {
  background: #f4f4f4;
}

table tr.altRow a
{
background: #f4f4f4;
}

table tr.altRow a:hover
{
background: #E8E4CD;
}

div.error_message
{
	font-size: small;
	font-weight: normal;
	text-decoration: none;
        color: #FF3333;
}
  

small.standoutlabel
{
	font-size: small;
	font-weight: bold;
	text-decoration: none;
        color: #66CC33;
}

small.standoutcontent
{
	font-size: small;
	font-weight: bold;
	text-decoration: none;
        color: #FF3333;
}
